 body {
  min-width: 357px;
  overflow-x: hidden;
  background-color: #EAEAEA;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

#positions{

}

.position{

  padding: 10px;
  background-color: #FFF;
  margin: 10px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 2px #a5a4a6;
  -webkit-box-shadow: 0px 1px 2px #A5A4A6;
  box-shadow: 0px 1px 2px #A5A4A6;

}